body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #006400;
  text-align: center;
  padding: 1em;
}

header img {
  max-width: 50%;
  height: auto;
}

.menu-toggle {
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  top: 0.5em;
  right: 1em;
  cursor: pointer;
  display: none;
}

.topbar {
  background-color: #000800;
  color: #fff;
  text-align: center;
  padding: 0.5em;
}

.topbar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topbar nav li {
  display: inline;
  margin-right: 10px;
}

.topbar nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.slideshow-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.facebook-feed {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px; /* Voeg border-radius toe aan het iframe */
}

.facebook-feed h2 {
  text-align: center;
}

.posts {
  display: flex;
  justify-content: center;
}

/* Contactformulier stijlen */
.contact-form {
  margin-top: 2rem;
  max-width: 600px; /* Pas de maximale breedte aan zoals nodig */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem; /* Voeg onderste marge toe */
}

.contact-form h2 {
  color: #333; /* Pas de kleur van de kop aan zoals nodig */
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555; /* Pas de kleur van labels aan zoals nodig */
}

.contact-form .form-control {
  border-radius: 8px; /* Voeg border-radius toe voor afgeronde hoeken */
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Voeg een rand toe voor duidelijkheid */
}

.contact-form textarea {
  resize: vertical; /* Sta verticale aanpassing toe voor het tekstgebied */
}

.contact-form button {
  background-color: #006400; /* Pas de achtergrondkleur van de knop aan */
  color: #fff; /* Pas de tekstkleur van de knop aan */
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px; /* Voeg border-radius toe voor afgeronde hoeken */
}

.contact-form button:hover {
  background-color: #0056b3; /* Pas de achtergrondkleur aan bij hover */
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.3em;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
  header img {
    max-width: 80%; /* Aangepast voor kleinere schermen */
  }

  .menu-toggle {
    display: block;
  }

  .topbar {
    background-color: #000800;
    position: relative;
  }

  .topbar nav {
    display: none;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000a00;
  }

  .topbar nav.active {
    display: block;
  }

  .topbar nav li {
    display: block;
    margin-bottom: 5px;
  }

  

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.3em;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
  }
}
