#header {
    padding: 20px;
    text-align: center;
    background:darkgray;
    color: black;
    font-size: 30px;
  }

table  { border-collapse: collapse; border: 1px solid #C0C0C0;
    margin-left: auto; margin-right: auto; }
td{
    border: 2px solid black;
    width: 240px;
    height: 240px;
    text-align: center;
    font-weight: bold;
}
img{
    width:220px;
    height: 220px;
    }

#a{
    background-color:#FFCCFF ;
}
#b{
    background-color: #FF99FF;
}
#c { 
    background-color:#FF66FF; 
}
#d { 
    background-color:#FF33FF;
 }
#e {
     background-color: #FF99CC;
    }
#f {
     background-color: #FF66CC;
    }
#g {
     background-color: #FF33CC;
    }
#h {
     background-color: #FF00CC;
    }
#i{
    background-color:darkgrey;
}
#footer {
    padding: 20px;
    text-align: center;
    background:darkgray;
    color: black;
    font-size: 30px;