/* Basisinstellingen */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Lichtgrijze achtergrond */
}

/* Topbar stijlen */
.topbar {
  background-color: #006400; /* Donkergroen */
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto; /* Icons aan de rechterkant plaatsen */
}

.icons img {
  width: 30px; /* Pas dit aan aan de gewenste grootte voor iconen */
  height: 30px;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
}

#searchInput {
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
}

#searchButton {
  padding: 8px 12px;
  background-color: #008000; /* Groene kleur voor de zoekknop */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hamburger Menu stijlen */
.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.menu-toggle.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Aanvullende stijlen voor het logo */
.logo {
  width: 100%; /* Maak het logo 100% van de breedte van de container */
  text-align: center; /* Centreer het logo */
  position: relative;
  top: -20px; /* Laat het logo over de topbar vallen */
  display: block;
}

.logo img {
  max-width: 100%; /* Zorg ervoor dat het logo niet breder is dan de container */
  height: 250px; /* Automatische hoogte aanpassing om de verhoudingen te behouden */
  object-fit: contain; /* Behoud de oorspronkelijke hoogte-breedteverhouding van het logo */
}

/* Menu stijlen */
.navbar {
  background-color: #008000; /* Groen */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.menu li a {
  text-decoration: none;
  color: white;
  padding: 0 15px;
}

/* Responsief menu voor kleine schermen */
@media (max-width: 768px) {
  .topbar,
  .navbar {
    flex-direction: row-reverse; /* Items naar rechts uitlijnen */
  }

  .icons,
  .menu {
    margin-left: auto; /* Items naar rechts uitlijnen in de topbar en navbar */
  }

  .menu {
    display: none; /* Verberg het menu standaard op kleine schermen */
    flex-direction: column; /* Zet de items onder elkaar in het hamburgermenu */
    position: absolute;
    top: 60px; /* Afstand tot de topbar */
    right: 20px; /* Afstand tot de rechterkant */
    background-color: #008000; /* Groene kleur voor het hamburgermenu */
    width: 200px; /* Aangepaste breedte */
    z-index: 1000; /* Zorg ervoor dat het menu boven andere inhoud staat */
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Items naar rechts uitlijnen in het hamburgermenu */
  }

  .menu-toggle.active + .menu {
    display: flex;
    justify-content: center; /* Center de items in het hamburgermenu */
    align-items: center; /* Center de items in het hamburgermenu */
  }

  .menu li a {
    padding: 15px 0; /* Voeg wat ruimte toe aan de boven- en onderkant van de tekst in het hamburgermenu */
    text-align: center; /* Centreer de tekst in het hamburgermenu */
  }
  
  .menu-toggle.active {
    margin-right: 20px; /* Voeg wat ruimte toe aan de rechterkant van het hamburgermenu */
  }
}
